[Desktop Entry]
Name=Fish Shell
Comment=Use the command line
Keywords=shell;prompt;command;commandline;cmd;
TryExec=fish
Exec=fish
Icon=utilities-terminal
Type=Application
Terminal=true
StartupNotify=true
Actions=new-window

[Desktop Action new-window]
Name=New Terminal
Exec=fish
